---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";

// const pageTitle = 'Home Page';
const { title, pageTitle } = Astro.props;
---

<html lang="zh-cn">
  <head class="">
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <!-- <body class="bg-[url(../image/myedit.jpg)] bg-scroll bg-cover bg-center h-screen w-full bg-gray-100 flex flex-col"> -->
  <body class="relative bg-[url(../image/myedit.jpg)] bg-scroll bg-cover bg-center h-screen w-full bg-gray-100 flex flex-col before:absolute before:inset-0 before:bg-white/30 before:z-0">
    <!-- <body class="relative bg-gray-100 flex flex-col h-screen w-full bg-[url(../image/myedit.jpg)] bg-scroll bg-cover bg-center"> -->
    <Header />
    <main class="relative flex-1 bg-clip-content mx-30">
      <div class="flex flex-row gap-6">
        <div class="basis-2/3 bg-white p-6">
          <!-- 只覆盖 main -->
          <h1>{pageTitle}</h1>
          <!-- 這個元件現在可以在頁面上互動了！網站其餘部分則維持靜態。 -->
          <slot />
        </div>
        <div class="basis-1/3 bg-white p-6">TODO: list</div>
      </div>
    </main>
    <Footer />
  </body>
  <script>
    import "../scripts/menu.js";
  </script>
</html>
